* {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

header {
    position: fixed;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 100;
}

.menu-wrapper {
    width: 1500px;
    height: 65px;
    margin: 0 auto;
}

.menu-wrapper .logo {
    float: left;
    padding: 11px 0;
}

.menu-list-wrapper {
    float: right;
    height: 65px;
}

.menu-list,
.menu-icon {
    float: left;
    height: 65px;
}

.menu-icon {
    padding: 0 0 0 30px;
}

.menu-list li,
.menu-icon li {
    float: left;
    padding: 0 21px;
    text-align: center;
    line-height: 65px;
    position: relative;
}

.menu-list li:before {
    content: '';
    display: block;
    width: 2px;
    height: 50px;
    background: black;
    position: absolute;
    top: 8px;
    right: 0px;
}

main {
    width: 100%;
}

main .slider-wrap {
    position: relative;
}

main .slider {
    display: block;
    overflow-y: hidden;
    width: 100%;
    height: 900px;
    position: relative;
    transition: all 1s ease-in-out;
}

main .slider .slide {
    display: none;
}

main .slider-btn>button {
    display: block;
    width: 75px;
    height: 120px;
    position: absolute;
    top: 50%;
    background-color: transparent;
    z-index: 100;
    cursor: pointer;
    text-indent: -999em;
    border: 0;
    opacity: .6;
    transition: all .3s ease-in;
}

main .slider-btn>button:hover {
    opacity: 1;
}

main .slider-btn>.left {
    background-image: url(img/left.jpg);
    left: 50px;
}

main .slider-btn>.right {
    background-image: url(img/right.jpg);
    right: 50px;
}